<h2><%= t('views.common.edit') %></h2>

<%= form_with model: @user, id: 'edit_user', class: 'edit_user', url: users_path, ethod: :put,local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

   <div class="field">
    <%= f.label :name, t('account.profile.name') %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email, t('account.profile.email') %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :zipcode, t('account.profile.zipcode') %><br />
    <%= f.text_field :zipcode %>
  </div>

  <div class="field">
    <%= f.label :address, t('account.profile.address') %><br />
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :bio, t('account.profile.bio') %><br />
    <%= f.text_area :bio %>
  </div>

  <div class="field">
    <%= f.label :password %> <i><%= (t('account.message.password_change_note')) %></i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %><%= t('account.message.password_minimum_length') %></em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i><%= (t('account.message.password_for_confirm')) %></i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit t('helpers.submit.update') %>
  </div>
<% end %>

<h3><%= t('account.action.delete') %></h3>

<p><%= button_to t('account.action.delete'), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to t('views.common.back'), :back %>
