<h1>User Details</h1>
<p>
  <strong>name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>zipcode:</strong>
  <%= @user.zipcode %>
</p>

<p>
  <strong>adress:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>bio:</strong>
  <%= @user.bio %>
</p>
