<h1><%= t('views.common.show') %></h1>
<p>
  <strong><%= t('account.profile.name') %></strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t('account.profile.email') %></strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= t('account.profile.zipcode') %></strong>
  <%= @user.zipcode %>
</p>

<p>
  <strong><%= t('account.profile.address') %></strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= t('account.profile.bio') %></strong>
  <%= @user.bio %>
</p>

<%= link_to t('navigation.back_to_users'), books_path, method: :get %>
