<h2><%= t('navigation.forgot_password') %></h2>

<%= form_with(model: @user, id: 'new_user', class: 'new_user', url: user_password_path, local: true ) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit t('account.action.send_password_reset_link') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
