<h1><%= t('navigation.mypage') %></h1>

<p>
  <strong><%= t('account.profile.name') %></strong>
  <%= current_user.name %>
</p>

<p>
  <strong><%= t('account.profile.email') %></strong>
  <%= current_user.email %>
</p>

<p>
  <strong><%= t('account.profile.zipcode') %></strong>
  <%= current_user.zipcode %>
</p>

<p>
  <strong><%= t('account.profile.address') %></strong>
  <%= current_user.address %>
</p>

<p>
  <strong><%= t('account.profile.bio') %></strong>
  <%= current_user.bio %>
</p>

<%= link_to t('views.common.edit'), mypage_edit_path, method: :get %>

<%= link_to t('navigation.back_to_books'), books_path, method: :get %>
