<h1>Mypage</h1>

<p>
  <strong>name:</strong>
  <%= current_user.name %>
</p>

<p>
  <strong>email:</strong>
  <%= current_user.email %>
</p>

<p>
  <strong>zipcode:</strong>
  <%= current_user.zipcode %>
</p>

<p>
  <strong>adress:</strong>
  <%= current_user.address %>
</p>

<p>
  <strong>bio:</strong>
  <%= current_user.bio %>
</p>
