<p><%= @report.created_at.strftime('%Y年%m月%d日') %></p>
<p>
  <strong><%= Report.human_attribute_name(:title) %></strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:description) %></strong>
  <%= @report.description %>
</p>

<h2>コメント</h2>
<div class="comment_area">
<% if @comments.empty? %>
  <p>コメントはまだありません</p>
<% else %>
  <% @comments.each do |comment| %>
    <div class="comment_description">
      <%= comment.comment %>
    </div>
    <span class="comment_created-at"><%= l comment.created_at, format: :long %></span>
    <div class="user_name">
      <% if comment.user.name.nil? %>
        <%= comment.user.email %>
      <% else %>
        <%= comment.user.name %>
      <% end %>
    </div>
    <%= link_to t('views.common.destroy'), report_comment_path(@report.id,comment), method: :delete, data: { confirm: t('views.common.delete_confirm') }%>
    <%= link_to t('views.common.edit'), edit_report_comment_path(@report.id,comment) %>
  <% end %>
<% end %>
</div>

<%= render 'comments/form', commentable: @report , comment: Comment.new %>

<% if current_user == @report.user %>
  <%= link_to t('views.common.edit'), edit_report_path(@report) %> |
  <%= link_to t('views.common.destroy'), report_path(@report), method: :delete, data: { confirm: t('views.common.delete_confirm') } %> |
<% end %>
<%= link_to t('views.common.back'), reports_path %>
